@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#particles-js{
    height: 100vh;
    background: linear-gradient( 45deg, #222831, #f05454);
}

.chat-container {
	width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	border: none;
	border-radius: 30px;
	width: 80%;
	color: #222831;
  	font-weight: 300;
 	margin-left: 20px;
	flex: 1;
}

.chat-form-container input:focus{
	outline: none;
}
